.holder {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  background: #ffffff;
}

.logo {
  margin-right: 20px;
  font-size: 2em;
  font-weight: 900;
}

.menu > a {
  color: #990d35;
}
